body {
  background-image: url('./img/cocktail-back1.jpg');
  margin: 0;
  min-height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Shadows Into Light', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(38, 38, 39);
    background-blend-mode:soft-light;
}
.Search-button{
  height: 100vh;
}
#search_button{
  width: 20%;
  height: 10%;
  margin-top: 45vh;
  border-radius: 2rem;
}
#learn_more{
  height: 3rem;
  width: 10rem;
  border-color: black;
  font-weight: 600;
  margin-top: 3rem;
  transition: .3s;
  margin-bottom: 1rem;
}
.btn-white:hover{
  color: white;
  background-color: black;
}
.About{
  letter-spacing: 1px;
  display: flex;
  height: 100vh;
  background-size:cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
}
.about_text{
  height: 100vh;
  width: 50%;
  background-color: white;
  padding-top: 5rem;
  
}
.about_text h4{
  padding: 5rem;
}
.about_text h2{
  text-decoration: underline;
}
.cock-info h2{
  padding-top: 4rem;
  padding-bottom: 3rem;
  text-decoration: underline;
}
.cocktails_text h2{
  text-decoration: underline;
}
.about_img{
  width: 50%;
  min-height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  object-fit: contain;
}
.cock-info{
  width: 100%;
  display: inline-block;
  height: 65vh;
  background-color: white;
}
#s1{
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  margin-left: 5rem;
  transition: .3s;
}
#s1:hover{
  transform: scale(1.3);
}
.Cocktails{
  letter-spacing: 1px;
  display: flex;
  height: 100vh;
  background-size:cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center; 
  background-attachment: fixed;
}
.cocktails_text{
  height: 100vh;
  width: 50%;
  background-color: white;
  padding-top: 5rem;
}
.cocktails_text h4{
  padding: 5rem;
}
.cocktails_img{
  width: 50%;
  min-height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  object-fit:cover;
}

footer{
  color: white;
  height: 14vh;
  align-items: flex-end;
  background-color: black;
}
footer h3{
  padding-top: 1rem;
}
.footer-icons{
  display: flex;
  float: right;
  margin-left: 2rem;
  margin-right: 5rem;
}
.instagram{
  margin-right: 2rem;
}
.facebook{
  margin-right: 2rem;
}
.twitter{
  margin-right: 2rem;
}
.snapchat{
  margin-right: 2rem;
}